/* :root
{
  --yellow: #F5C32C;
    --orange : #FCA61F;
    --black : #242D49;
    --gray : #788097;
    --blueCard : #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.App{
    padding: 0.5rem 3.5rem;
    overflow: hidden;
    color: var(--black);    
} */

.slick-prev, .slick-next{
  top: 110%!important;
  width: 50px;
  height: 50px;
  line-height: 42px;
  text-align: center;
  border-radius: 50%;
  border: 5px solid;
  background-color: #ffb32f !important;
  position: absolute;
  
}
.slick-prev{
  left: 45%;
}
.slick-next{
  right: 45%;
}
.slick-next::before, .slick-prev::before {
  line-height: 2!important;
}
.slick-dots li button{
  display: none!important;
}

  